:root {
  --grey: #fcfcfc;
  --brown: #4e1e06;
  --green: #13d25f;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Metropolis;
}

.s1_background {
  background-color: var(--green);
}

.brown_container {
  background-color: var(--brown);
  width: 100%;
  margin: 0 auto;
}

.s1 {
  background-color: var(--green);
  height: 100vh;
  width: 80%;
  margin: 0 auto;
}

.s1_header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.s1_nav {
  display: flex;
  justify-content: space-between;
  width: 45%;
}

.s1_navicon {
  display: none;
}

.s1_nav_link {
  color: var(--grey);
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  padding: 15px 0px;
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.s1_nav_link:hover {
  transform: scale(1.1);
}

.s1_nav_button {
  color: var(--brown);
  font-weight: bold;
  background: var(--grey);
  border-radius: 100px;
  display: inline-block;
  width: 150px;
  text-align: center;
  font-size: 15px;
  padding: 15px 15px;
  text-decoration: none;

  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.1);
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.s1_nav_button:hover {
  transform: scale(1.1);
}

.s1_picture {
  background-image: url('img/mainbg.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 80vw auto;
  width: 80%;
  height: 550px;
  position: absolute;
  bottom: 0px;
}

.s1_textbox {
  width: 45%;
  margin-top: 5%;
}

h1 {
  color: var(--brown);
  padding-bottom: 25px;
  font-size: 48px;
}

.s1_textbox_text {
  color: var(--grey);
  line-height: 30px;
  font-size: 18px;

}

/* S2 */

.s2 {
  background-color: var(--green);
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.s2_textbox {
  width: 100%;
  height: auto;
  color: var(--grey);
  text-align: right;
}


.s2_textbox_content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.s2_textbox_text {
  width: 45%;
  color: white;
  line-height: 30px;
  font-size: 16px;
}

.s2_textbox_img {
  width: 35%;
}


h2 {
  font-size: 36px;
  color: var(--brown);
  padding-bottom: 15px;
}

h5 {
  opacity: 0.8;
  color: var(--brown);
  text-transform: uppercase;
  padding-bottom: 10px;
}

/* S3 */

.s3 {
  background-color: var(--brown);
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  align-items: center;
}

.s3_textbox {
  text-align: center;
  width: 100%;
}

.green_h2 {
  font-size: 36px;
  color: var(--green);
  padding-bottom: 15px;
}

.green_h5 {
  opacity: 0.8;
  color: var(--green);
  text-transform: uppercase;
  padding-bottom: 10px;
}

.member_box {
  margin: 0 auto 20px;
  background-color: #fff;
  height: auto;
  width: 50%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 30px;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.2);
}

.member_img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 100px;
}

.member_info {
  width: 250px;
}

/*  S4 */

.s4_background {
  background-color: var(--grey);
  width: 100%;
  margin: 0 auto;
}

.s4 {
  background-color: var(--grey);
  width: 80%;
  margin: 0 auto;
}

/* 768 px */

@media all and (max-width: 768px) {
    .s1 {
     
    }

    .s1_logo {
      margin: 0 auto;
    }

    .s1_navicon {
      display: block;
    }

    .s1_naviconclose {
      position: absolute;
      right: 10%;
      top: 40px;
      width: 30px;
    }

    .s1_nav {
      position: fixed;
      display: block;
      padding: 40px 10% 40px 10%;
      left: -100%;
      top: 0px;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      background-color: var(--brown);
      z-index: 999;
    }

    .s1_picture {
      height: 25vh;
    }

    .s1_textbox_text {
      font-size: 16px;
    }

    .s1_nav_link {
      color: var(--green);
      width: 100%;
      display: inline-block;
      font-weight: bold;
      text-decoration: none;
      font-size: 15px;
      padding: 0px 0px 15px;
      transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .s1_nav_button {
      background: none;
      display: inline-block;
      width: auto;
      text-align: left;
      text-decoration: none;
      box-shadow: none;
      color: var(--green);
      width: 100%;
      display: inline-block;
      font-weight: bold;
      text-decoration: none;
      font-size: 15px;
      padding: 0px 0px 15px;
      transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .s1_textbox {
      width: 100%;
      text-align: center;
    }

    .textbox_img {
      display: none;
    }

    .s2_textbox {
      text-align: center;
    }

    .s2_textbox_text {
      width: 100%;
      text-align: center;
    }

    .s2_textbox_img {
      display: none;
    }
}